<app-navbar-admin></app-navbar-admin>
<app-sidebar-admin></app-sidebar-admin>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <section class="content-header">
                        <div class="container-fluid">
                            <h1>Tabla de Productos</h1>
                        </div>
                    </section>
                    <app-registrar></app-registrar>
                    <app-tabla-producto></app-tabla-producto>            
                </div>
            </div>
        </div>
    </div>
</div>

