<section class="gallery min-vh-100">
   <div class="container-lg">
      <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body2.jpg?alt=media&token=cc0795f0-d25f-45b0-9971-7bea50ec6190"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body9.jpg?alt=media&token=b595af77-9cdf-47a4-a0ec-9833addd074e"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body3.jpg?alt=media&token=b3c738b9-8b65-48ec-b234-9078e059e5e7"
               class="gallery-item" alt="galeria">
         </div>
         <div class="col">
            <img
               src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Fbody%2Fimg_body7.jpg?alt=media&token=87f5757c-335b-4216-a8a2-ca971bb529cc"
               class="gallery-item" alt="galeria">
         </div>
      </div>
   </div>
</section>

<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h4 id="exampleModalLabel">Ultimos Modelos en sus mejores marcas</h4> 
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <img class="modal-img" alt="modal img">
         </div>
      </div>
   </div>
</div>