<div class="card ">
    <div class="card-header">
        <div class="card" alt="contenedor de carta">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Lista de zapatos o productos</h3>
                </div>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div class="container">
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-----Cuerpo de la tabla -->

            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead alt="encabezados">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre del producto</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>talla</th>
                            <th>Costo</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <!-- Registros de productos -->
                    <tbody alt="registros" *ngFor="let ListaProducto of ListaProducto">
                        <tr>
                            <td alt="codigo">{{ListaProducto.pk_id_producto}}</td>
                            <td alt="nombre">{{ListaProducto.nombre_producto}}</td>
                            <td alt="marca">{{ListaProducto.fk_marca}}</td>
                            <td alt="modelo">{{ListaProducto.fk_nombre_categoria}}</td>
                            <td alt="talla">{{ListaProducto.talla}}</td>
                            <td alt="costo">{{ListaProducto.costo}}</td>
                            <td alt="descripcion">{{ListaProducto.descripcion}}</td>
                            <td>
                                <app-modificar></app-modificar>
                                <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>