p{
    font-size: 15px;   
}
.card{
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.02);
}

.card-body .onsale .badge{
    background: #000;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
    left: 0px;
}