<!------------------------------------------------------
-----------------------Titulo --------------------------
-------------------------------------------------------->
<div class="bg-2 p-5">
    <h1 class=" animated fadeIn t-stroke-shadow fs-1 fw-bolder text-center">Ultimas novedades de ASTROSHOES</h1>
</div>

<!-- SECCION DE CARTA PARA LOS PRODUCTOS -->
<div class="p-5">
    <div class="container" id="contenedor1">
        <p></p>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fhombres%2Fnike%2FNike%20Mercurial%20Vapor%2014%20Club%20TF_4.jpg?alt=media&token=814a2a8c-6431-4483-b454-1ac9a7ad384c">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 650.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fhombres%2Fnike%2FPHANTOM%20GT2%20ACADEMY%20DF%20TF_7.jpg?alt=media&token=5cb6db83-3112-43f6-95e1-37b5bdf37520">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 50.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fhombres%2Fnike%2FNike_React_Metcon_Turbo_2.jpg?alt=media&token=c95b4f0a-0224-48ad-a92e-1788d2d1e95e">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 150.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fhombres%2Fadidas%2Fadi_ultraboost_5_dna_running_lifestyle_6.jpg?alt=media&token=3ce5aff0-f400-473d-a7f0-1816927b4390">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 650.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fmujeres%2Fadidas%2FTENIS%20ULTRABOOST%20WEB%20DNA%20RUNNING%20SPORTSWEAR%20LIFESTYLE_6.jpg?alt=media&token=fd3f796d-0348-4a43-a842-9f549c565c1b">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 60.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2FCatalogo%2Fhombres%2Fadidas%2Fadi_ultraboost_dna_xxii_lifestyle_running_sportswear_capsule_collection_11.jpg?alt=media&token=96f05e04-b007-4a1a-8d7c-f85b23a194b4">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 60.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>>
<div>