<!------------------------------------------------------
-----------------------Titulo --------------------------
-------------------------------------------------------->
<hr>
<div class="bg-2">
    <h1 class=" animated fadeIn t-stroke-shadow fs-1 fw-bolder text-center">Ultimas novedades de ASTROSHOES</h1>
</div>

<!-- SECCION DE CARTA PARA LOS PRODUCTOS -->
<main>
    <div class="container" id="contenedor1">
        <p></p>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/nike_1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 650.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/Nike_React_Metcon_Turbo_2.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 50.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/PHANTOM GT2 ACADEMY DF TF_7.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 150.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/REACT LEGEND 9 PRO TF_3.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 650.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/TENIS EQ21 RUN_1.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 60.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="assets/img/generos/hombres/nike/Nike Phantom GT Academy MG_12.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Zapatos NIKE</h5>
                        <p class="card-text">$ 60.00</p>
                        <div class="btn-group">
                            <a href="" class=" btn btn-primary">Detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>>
</main>

