<!--Detalles del producto-->
<!-- Inicio de Modal-->
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" alt="nombreproducto">Cargar el nombre</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Cuerpo del Modal-->
            <div class="modal-body">
                <div class="alert alert-success">
                    <span class="fa fa-info-circle"></span> Producto en stock!
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <img src="https://s3.amazonaws.com/makeitreal/projects/e-commerce/camiseta-1.jpg"
                            alt="imagenproducto" class="img-thumbnail">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p alt="precioproducto">Precio: <strong> cargar el precio </strong></p>
                        <p>
                            <span class="badge badge-warning" alt="Categoria"> Cargar categoria </span>
                            <span class="badge badge-secondary" alt="Marca"> cargar marca </span>
                        </p>
                        <a href="#"><i class="fa-regular fa-star"></i> Agregar a los deseos</a>
                    </div>
                </div><br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"> Descripción </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container active" alt="descripcionproducto"><br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. VItae
                            perferendis
                            nobis dicta impedit assumenda, accusantlum ipsa minima tempora sed!
                            Mollita,
                            nostrum, nisi. Culpa dolor ab tatom optio sapiente eius molllitia!</p>
                    </div>
                </div>
            </div>
            <!-- pie del modal-->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div> <!--Fin de contenido del Modal -->
    </div> <!--Fin Modal dialog-->
</div> <!--Fin Modal-->