<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div  class="image">
                <img  src="https://firebasestorage.googleapis.com/v0/b/proyectcatalogozapatos.appspot.com/o/Imagenes%2Frecursos%2Flogos%2Fuser.png?alt=media&token=a20d1d60-05d1-4b5f-917d-29bfe974fa4f"
                    class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Nombre Admin</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a [routerLink]="['../form-inicio']" class="nav-link active">
                        <i class="fa-solid fa-house"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
                <!--Formularios-->
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa-solid fa-people-roof"></i>
                        <p> Administrar
                            <i class="fa-solid fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul [routerLink]="['../form-productos']" class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa-solid fa-shop"></i>
                                <p class="p-1"> Productos</p>
                            </a>
                        </li>
                    </ul>
                    <ul [routerLink]="['../form-marca']" class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa-solid fa-bookmark"></i>
                                <p class="p-1"> Marcas</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa-solid fa-star"></i>
                                <p class="p-1"> Favoritos</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>