<div class="card ">
    <div class="card-header">
        <div class="card" alt="contenedor de carta">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Lista de marcas</h3>
                </div>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <div class="container">
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-----Cuerpo de la tabla -->
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead alt="encabezados">
                        <tr>
                            <th>Código</th>
                            <th>Nombre de marca</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody alt="registros">
                        <tr>
                            <td alt="codigo">zap_01</td>
                            <td alt="nombre de marca">Nike For One</td>
                            <td alt="descripcion">Zapatos de salir originales</td>
                            <td >
                                <app-modificar-marca></app-modificar-marca>  
                                <button class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>                     
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>